.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.modal-content {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  width: 75%;
  min-height: 600px;
  display: flex;
  position: relative;
  gap: 10px;
}

.close-btn {
  position: absolute;

  background-color: crimson;
  color: white;
  border: none;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  width: 47%;
  height: 10%;

  bottom: 15px;
  right: 15px;
}

.add-btn {
    position: absolute;
    background-color: darkolivegreen;
    color: white;
    border: none;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 47%;
    height: 10%;

    bottom: 15px;
    left: 15px;
}

.modal-actions {

}

